<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.name' %>:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong><%= t '.address' %>:</strong>
  <%= @seller.address.address %>
</p>

<p>
  <strong><%= t '.number' %>:</strong>
  <%= @seller.address.number %>
</p>

<p>
  <strong><%= t '.complement' %>:</strong>
  <%= @seller.address.complement %>
</p>

<p>
  <strong><%= t '.city' %>:</strong>
  <%= @seller.address.city %>
</p>

<p>
  <strong><%= t '.zone' %>:</strong>
  <%= @seller.address.zone.name %>
</p>

<p>
  <strong><%= t '.zip_code' %>:</strong>
  <%= @seller.address.zip_code.to_s.gsub(/^([\d]{5})([\d]{3})$/, '\1-\2') %>
</p>

<%= link_to t(:edit), edit_seller_path(@seller) %> |
<%= link_to t(:back), sellers_path %>
