<p id="notice"><%= notice %></p>

<h4><%= t '.title_seller' %></h4>
<p>
  <strong><%= t '.seller' %>:</strong>
  <%= @order.seller.name %>
</p>
<p>
  <strong><%= t '.address' %>:</strong>
  <%= @order.seller.address.address %>
</p>
<p>
  <strong><%= t '.number' %>:</strong>
  <%= @order.seller.address.number %>
</p>
<p>
  <strong><%= t '.complement' %>:</strong>
  <%= @order.seller.address.complement %>
</p>
<p>
  <strong><%= t '.city' %>:</strong>
  <%= @order.seller.address.city %>
</p>
<p>
  <strong><%= t '.zone' %>:</strong>
  <%= @order.seller.address.zone.name %>
</p>
<p>
  <strong><%= t '.zip_code' %>:</strong>
  <%= @order.seller.address.zip_code %>
</p>

<hr>

<p>
  <strong><%= t '.buyer' %>:</strong>
  <%= @order.buyer.name %>
</p>

<hr>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.item' %></th>
      <th><%= t '.price' %></th>
      <th><%= t '.qty' %></th>
      <th><%= t '.subtotal' %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.item.description %></td>
      <td><%= number_to_currency(@order.item.price) %></td>
      <td><%= @order.qty %>
      <td><%= number_to_currency(@order.item.price * @order.qty) %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><b><%= t '.total' %></b></td>
      <td colspan="3"><%= number_to_currency(@order.item.price * @order.qty) %></td>
    </tr>
  </tfoot>
</table>

<%= link_to t(:edit), edit_order_path(@order) %> |
<%= link_to t(:back), orders_path %>
