<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Valor:</strong>
  <%= number_to_currency(@item.price) %>
</p>

<%= link_to t(:edit), edit_item_path(@item) %> |
<%= link_to t(:back), items_path %>
